<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
</head>
<body>
    <form class="form" action="/add" method="post">
        {% csrf_token %}
        <input type="text" name="store_name">
        <button type="submit">Сохранить</button>
    </form>



    <div>

        <p class="paragraph">{{ store }}</a></p>

        {% for categ in category %}
            <p>
                {{ categ.name }}
                <a href="{% url 'view_posts_categ' categ_id=categ.id%}">Перейти</a>
                <a href="{% url 'change_categ' categ_id=categ.id%}">Изменить</a>
                <a href="{% url 'delete_categ' categ_id=categ.id%}">Удалить</a>
            </p>
        {% endfor %}

    </div>
</body>
</html>